@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  @apply bg-white text-gray-900;
}

.slider {
  animation: slider-text 20s linear infinite alternate;
}

@keyframes slider-text {
  0% {
    transform: translate3d(20%, 0, 0);
  }

  100% {
    transform: translate3d(-20%, 0, 0);
  }
}
@keyframes slider-text2 {
  0% {
    transform: translate3d(130%, 0, 0);
  }

  100% {
    transform: translate3d(-130%, 0, 0);
  }
}

@media (max-width: 768px) {
  .slider {
    animation: slider-text2 6s linear infinite alternate;
  }
}

::selection {
  background-color: rgb(0 0 0 / 0.5);
  color: #fff;
}
